.header{
    &__logo{
        max-width: 87px;
        width: 100%;
        object-fit: contain;
    }
    &__trigger{
        display: none;
        color: $black-2;
        @media(max-width: $mq4){ display: inherit;}
    }
}
.main-menu{
    @media(max-width: $mq4){ display: none;}

    &__list{
        display: flex;
    }
        &__item:not(:last-of-type){
            margin-right: 40px;
        }
            &__link{
                @include f14();
                text-transform: capitalize;
                font-weight: 700;

                &--cta{
                    @include link();
                    padding: 8px 16px;
                    border-radius: 8px;
                }

                i{ margin-left: 8px; }
            }
}
