section.about
    article.about__item
        img.about__img(src="img/about__item-1.png")
        h3.about__title Directory
        p.about__description Access info about every person, team, and project
        a.about__link(href="#") Learn more
            i.fa.fa-arrow-right
    article.about__item
        img.about__img(src="img/about__item-2.png")
        h3.about__title Search
        p.about__description Find any doc or message across from one place
        a.about__link(href="#") Learn more
            i.fa.fa-arrow-right
    article.about__item
        img.about__img(src="img/about__item-3.png")
        h3.about__title Updates
        p.about__description Share updates sync on the right channels and projects
        a.about__link(href="#") Learn more
            i.fa.fa-arrow-right
    article.about__item
        img.about__img(src="img/about__item-4.png")
        h3.about__title Workflows
        p.about__description Create, assign and track team and company processes
        a.about__link(href="#") Learn more
            i.fa.fa-arrow-right
    article.about__item
        img.about__img(src="img/about__item-5.png")
        h3.about__title Goals
        p.about__description Set, track and cascade goals across the organization
        a.about__link(href="#") Learn more
            i.fa.fa-arrow-right
        
