footer.footer
    div.footer__list
        div.footer__bg
            img.footer__logo(src="img/footer__logo.png")
        div.footer__item
            a.footer__link.footer__link--title Product
            a.footer__link Directory
            a.footer__link Search
            a.footer__link Updates
            a.footer__link Workflows
            a.footer__link Goals
        div.footer__item
            a.footer__link.footer__link--title Company
            a.footer__link About
            a.footer__link Careers
            a.footer__link Pricing
            a.footer__link Blog
        div.footer__item
            a.footer__link.footer__link--title Contact
            a.footer__link Help
            a.footer__link hello@hello.com
            a.footer__link +44 12 3456 789
            a.footer__link 42 Princelet St, London E1 5LP
        div.footer__item.footer__item--icons
            a.footer__icon(href="#")
                i.fa.fa-twitter
            a.footer__icon(href="#")
                i.fa.fa-linkedin
    div.footer__terms
        a.footer__term(href="#") Copyright 2020 Qatalog Ltd. All rights reserved.
        a.footer__term(href="#") Privacy Policy
        a.footer__term(href="#") Terms of Service
