header.header
    img.header__logo(src="img/header__logo.svg")
    a.header__trigger(href="#")
        i.fa.fa-bars.fa-2x
    nav.main-menu
        ul.main-menu__list
            li.main-menu__item
                a(href="#").main-menu__link product
                    i.fa.fa-angle-down.fa-lg
            li.main-menu__item
                a(href="#").main-menu__link pricing
            li.main-menu__item
                a(href="#").main-menu__link.main-menu__link--cta login
