section.hero
    div.hero__info
        h1.hero__title all your people, work and tools.
        p.hero__description none of the noise.
        a.hero__link Request access
    div.hero__video-container 
        video.hero__video(muted loop autoplay poster="img/hero__poster.png")
            source.hero__source(src="img/hero__video.mp4", type="video/mp4")
