section.slider
    div.slider__images
        img.slider__image.is-image-visible(src="img/slider__item-1.jpg" data-image="0")
        img.slider__image(src="img/slider__item-2.jpg" data-image="0")
        img.slider__image(src="img/slider__item-3.jpg" data-image="0")
        img.slider__image(src="img/slider__item-4.jpg" data-image="0")    
    div.slider__controls
        article.slider__item.is-item-selected
            span.slider__item-container.is-icon-selected
                i.fa.fa-user.slider__item-icon
                span.slider__item-linec
                    span.slider__item-line.is-line-selected
            div.slider__item-info
                h3.slider__item-title People, Teams & Projects
                p.slider__item-description A directory with every person, team and project in your organization
        article.slider__item
            span.slider__item-container
                i.fa.fa-search.slider__item-icon
                span.slider__item-linec
                    span.slider__item-line
            div.slider__item-info
                h3.slider__item-title Find everything
                p.slider__item-description Search for files and messages across all your tools from one place    
        article.slider__item
            span.slider__item-container
                i.fa.fa-rocket.slider__item-icon
                span.slider__item-linec
                    span.slider__item-line
            div.slider__item-info
                h3.slider__item-title Stay on top of things 
                p.slider__item-description Share updates on your team's people, projects and goals    
        article.slider__item
            span.slider__item-container
                i.fa.fa-tasks.slider__item-icon
                span.slider__item-linec.is-element-hidden
                    span.slider__item-line
            div.slider__item-info
                h3.slider__item-title Streamline processes
                p.slider__item-description Create, assign, and truck processes and workflows
        
    
