section.ssl
    div.ssl__info
        h1.ssl__title Data Control & Security
        p.ssl__description Fine-grained access control and permissions for all users. Additionally, our systems are SSL-certified and our strict data management processes achieve full integrity and compliance with GDPR regulations.
    div.ssl__video-container 
        video.ssl__video(muted loop autoplay poster="img/ssl__poster.png")
            source.ssl__source(src="img/ssl__video.mp4", type="video/mp4")
