section.work
    div.work__info
        h1.work__title make work better.
        a.work__link Request access    
    div.work__video-container 
        video.work__video(muted loop autoplay poster="img/work__poster.png")
            source.work__source(src="img/work__video.mp4", type="video/mp4")
