@font-face {
	font-family: 'Aeonik';
	src: url('../fonts/Aeonik-Regular.c672e6fb.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Aeonik';
	src: url('../fonts/Aeonik-Bold.4b5c5bec.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
font-face { src: url('../fonts/FontAwesome.ttf') format('ttf'); }
// -------------------------
@mixin f14(){
	font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
@mixin f14-link(){
	font-size: 14px;
    font-weight: 600;
    line-height: 2px;
    color: $blue-1;
}
@mixin f16(){
	font-size: 16px;
	font-weight: 400;
    line-height: 36px;
}
@mixin f24(){
	font-size: 24px;
	font-weight: 700;
    line-height: 32px;

	@media(max-width: $mq3){
		font-size: 18px;
		line-height: 24px;
	}
}
@mixin f26(){
	font-size: 26px;
	font-weight: 400;
    line-height: 32px;
    letter-spacing: -.5px;

	@media(max-width: $mq3){
		font-size: 18px;
		line-height: 32px;
	}
}
@mixin f46(){
	font-size: 46px;
	font-weight: 700;
    line-height: 60px;
    letter-spacing: -1.15px;

	@media(max-width: $mq3){
		font-size: 30px;
		line-height: 36px;
	}
}
@mixin f62(){
	font-size: 62px;
	font-weight: 700;
    line-height: 72px;
    letter-spacing: -1px;

	@media(max-width: $mq3){
		font-size: 40px;
		line-height: 52px;
	}
}
@mixin link(){
    transition: $transition linear;
    font-weight: 400;
    color: $white-1;
    background-color: $purple-2;

    &:hover{
        background-color: darken($purple-2, 10);
        transition: $transition linear;
    }
}
@mixin link-shadow(){
    box-shadow:
        rgba(0, 71, 179, 0.16) 0px 2px 2px,
        rgba(0, 71, 179, 0.16) 0px 4px 4px,
        rgba(0, 71, 179, 0.16) 0px 8px 8px,
        rgba(0, 71, 179, 0.16) 0px 16px 16px,
        rgba(0, 71, 179, 0.16) 0px 32px 32px,
        rgba(0, 71, 179, 0.16) 0px 64px 64px
    ;
}
